.album-cover-container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 150px;
  }
  
  .album-cover-container img {
    width: 10%;
    height: 10%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  