/* Remove flexbox from body to avoid squishing other content */
body {
  margin: 0;
  height: 100vh; /* Ensure the body takes up the full viewport height */
  display: block; /* Reset to block layout */
}

/* Hangman container */
.hangman-container { 
  padding-left: 40px;
  display: flex;
  align-items: flex-start;     /* Align the hangman to the left */
}

/* Stand styling */
.hangman-stand {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.hangman-beam {
  width: 50%;
  height: 6px;
  background-color: #7ebce1;
  border-radius: 10px;
}

.hangman-mid {
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
}

.hangman-post {
  width: 6px;
  height: 320px;
  background-color: #7ebce1;
  border-radius: 10px;
}

.hangman-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-right: 5px;
}

.hangman-main .hangman-rope {
  position: absolute;
  width: 5px;
  height: 50px;
  background-color: #7ebce1;
  border-radius: 10px;
}

.hangman-main img {
  margin-top: 25px;
  width: 260px;
  height: 260px;
}

.hangman-base {
width: 100%;
height: 7px;
background-color: #7ebce1;
border-radius: 10px;
}