/* HintButtons.css */
.hint-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #7ebce1;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #7ebce1;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.hint-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #7ebce1;
    background-color: #f4f2eb; /* White background */
    border: 2px solid #7ebce1; /* Lighter purple border */
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    min-width: 140px;
    height: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    font-weight: bold;
    position: relative;
    box-sizing: border-box;
}

.hint-button:hover:not(.revealed) {
    background-color: #f1f7fc; /* Lighter purple on hover */
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.hint-button:active:not(.revealed) {
    background-color: #c5e1ef; /* Slightly darker purple on click */
    transform: translateY(1px);
}

.hint-button.revealed {
    background-color: #f9f9f9;
    cursor: default;
    border-color: #7ebce1; /* Match lighter purple border for revealed state */
}

.hint-button.revealed .hint-label {
    color: #517fab; /* Lighter purple for revealed state text */
}

.hint-button.revealed .hint-value {
    color: #7ebce1; /* Slightly lighter purple for revealed text */
}