body {
    font-family: Bookman, URW Bookman L, serif;
    display: flex;
    justify-content: flex-end; /* Align horizontally to the right */
    align-items: flex-start; /* Align vertically to the top */
    transform: translateX(-1%);
    height: 100vh;
    width: 100%;
    position: relative; /* Optional if you want relative positioning for other elements */
}

.word-placement {
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    transition: width 0.3s ease, height 0.3s ease;
    margin: 0 auto;
    width: auto;
    min-height: 100px;
    position: relative; /* Remove absolute positioning */
    top: 150px; /* Space from the top */
    right: 180px; /* Remove right positioning */
    align-self: flex-start; /* Align to the top */
}


h1 {
    font-family: Jazz LET, fantasy;
    font-size: 3.0rem;
    color: #bd51df;
    margin-bottom: 30px; /* Add space below the title */
    font-weight: bold;
}

.word {
    font-family: Jazz LET, fantasy;
    color: #c47adb;
    font-size: 2.0rem;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: Bookman, URW Bookman L, serif;
}

.line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.letter {
    margin: 0 8px;
    font-weight: bold;
    letter-spacing: 4px;
    position: relative;
    display: inline-block;
    color: #bf63db;
}

.letter::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -8px;
    right: -8px;
    bottom: -5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.letter:not(.space):hover::before {
    opacity: 1;
}

.space {
    display: inline-block;
    width: 50px;
}
