.container {
  height: 896px;
  display: flex;
  flex-direction: row;

}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;
}

body {
  background-color: #c5e1ef;  /* Set your desired background color */
  width: 896px;
}

.word-placement-wrapper {
  margin-bottom: 67px; /* Add space between the word placement and keyboard */
  margin-left: 350px;
  display: flex;
  align-items: first baseline;
  justify-content: center;
}

/* Add these new styles */
.left-side-panel {
  bottom: 20px;
    top: 120px;
    height: 750px;
  width: 487px;
  position: relative;
  /* Match album cover's top position */
  left: 40px;
  /* Match album cover's left position */
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
  /* Match album cover's z-index */
}

.right-side-panel {
  position: relative;
  display: flex;
  left: 250px;
  top: 135px;
}

/* Adjust existing .album-section */
.album-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.solid-block {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 225px;
  backdrop-filter: blur(4px);
  border-radius: 10px;  /* Optional: Adds rounded corners */
  z-index: 10;         /* Ensures it's above other elements */
}

.solid-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 75px;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}


